body {
    background: lightskyblue;
    background-image: url("./images/mountainbasincreek-medium.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10px;
}

a{
    color: rgb(44, 44, 124);
    font-weight: 500;
    text-decoration: none;
}
a:visited {
    color: currentColor;
    text-decoration: none;
  }

#titleQuote {
    text-align: center;
    background-color: rgba(4, 211, 4, 0.459);
}

.list-title {
    visibility: hidden;
}

.list-title2 {
    visibility: hidden;
}

.show-title {
    visibility: visible;
}

.container {
    display: flex;
    padding: 10px;
    font-size: 20px;
    height: auto;
    max-width: 100%;
    background: rgba(93, 174, 241, 0.822);
    justify-content:space-between;
    align-items: baseline;
    flex-basis: inherit;
    flex-wrap: wrap;
    flex-shrink: inherit;
    flex-grow: inherit;
    gap: 20px;
}

.container2 {
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    background: rgba(93, 174, 241, 0.74);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 30px;
}

.quote-container {
    text-align: center;
}

.alert {
    text-align: center;
    align-items: center;
}

.alert-danger {
    color: rgb(216, 20, 20);
    background: rgb(216, 130, 130);
}

.alert-success {
    color: rgb(4, 211, 4);
    background: rgb(138, 211, 138);
}

#dragDiv {
    position: absolute;
    left: 150px;
    background-color: rgba(117, 57, 29, 0.808);
    color: rgb(190, 174, 174);
    z-index: 8;
    border: 2px solid #d3d3d3;
    text-align: center;
    font-weight: bolder;
}

#dragDivHeader {
    background-color: rgb(0, 70, 0);
    color: rgb(231, 231, 65); 
    padding: 10px;
    cursor: move;
} 

.btn-like {
    /* align-content: center; */
    display: inline-block;
    position: relative;
    top: 40%;
    left: 5%;
    font-size: 32px;
    cursor: pointer;
    /* border: 1px solid black; */
}
.btn-like::before {
      font-size: 2em;
      color: #000;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%)
}
.btn-like::after {
      font-size: 2em;
      color: #ff3252;
      content: '♥';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s
}
.btn-like.liked::after {
      transform: translate(-50%, -50%) scale(1.1)
}

#btn-like-text {
    position: relative;
    left: 12%;
    
    margin-right: -50%;  
}

.footer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cdd1d6;
    background-color: #dee1e5;
    font-weight: 300;
    color: #555;
    position: relative;
  }
  .footer span {
    margin-left: 2px;
    font-weight: 400;
    cursor: pointer;
    color: rgb(44, 44, 124);
  }
  .footer span a:link,
  .footer span a:visited {
    color: currentColor;
    text-decoration: none;
  }

  #gratitude-link {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cdd1d6;
    background-color: #dee1e5;
    font-weight: 300;
    color: darkblue;
    position: relative;
  }
  #gratitude-link a:link,
  #gratitude-link a:visited {
    justify-content: center;
    color: currentColor;
    text-decoration: none;
  }

  .center-intro {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #cdd1d6;
    background-color: #dee1e5;
    font-weight: 300;
    color: #555;
    position: relative;
  }
  /* .bridge-container {
      display: flex;
      height: 1000px;
      padding: 10px;
  }
  #map {
      width: 50%;
      height: 50%;
  }
  
  .links {
      width: 50%;
      height: 50%;
  } */

  #contactForm {
      background-color: lightskyblue;
      padding: 10px;
  }

  /* Bootstrap selectors */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* @media (max-width: 768px) {
    .bd-placeholder-img-sm {
        font-size: 0.75rem;
      }
    } */